<h1>Listing events</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Link</th>
    <th>Hash</th>
    <th>Timeline</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.start %></td>
    <td><%=h event.end %></td>
    <td><%=h event.title %></td>
    <td><%=h event.description %></td>
    <td><%=h event.image %></td>
    <td><%=h event.link %></td>
    <td><%=h event.hash %></td>
    <td><%=h event.timeline_id %></td>
    <td><%= link_to 'Show', [:admin, event] %></td>
    <td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
    <td><%= link_to 'Destroy', [:admin, event], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_admin_event_path %>