<h1>Listing <%= @events.size %> events</h1>

<%= link_to 'New event', new_admin_event_path %>

<table>
  <tr>
    <th/>
    <th>Title</th>
    <th>Time</th>
    <th>Source</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= actions_for(event)%></td>
    <td><%= internal_link_for(event, :length => 50) %> <%= icon_for(event) %></td>
    <td><%=h event.start.to_s %></td>
    <td><%= internal_link_for(event.source, :length => 20) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_admin_event_path %>
