<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>End:</b>
  <%=h @event.end %>
</p>

<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Image:</b>
  <%=h @event.image %>
</p>

<p>
  <b>Link:</b>
  <%=h @event.link %> <%= external_link_for(@event) %>
</p>

<p>
  <b>Icon:</b>
  <%=h @event.icon %>
</p>

<p>
  <b>Source:</b>
  <%=h @event.source_id %>
</p>


<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>