<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>End:</b>
  <%=h @event.end %>
</p>

<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Image:</b>
  <%=h @event.image %>
</p>

<p>
  <b>Link:</b>
  <%=h @event.link %>
</p>

<p>
  <b>Hash:</b>
  <%=h @event.hash %>
</p>

<p>
  <b>Timeline:</b>
  <%=h @event.timeline_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>