<head>
   <!-- See http://developer.yahoo.com/yui/grids/ for info on the grid layout -->
   <title>Gulf of Mexico Oil Spill Response Stats</title>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

   <!-- See http://developer.yahoo.com/yui/ for info on the reset, font and base css -->
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/base/base-min.css"> 

   <!-- Load the Timeline library after reseting the fonts, etc -->
   <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>
 
   <link rel="stylesheet" href="local_example.css" type="text/css">

   <!-- Since we don't have our own server, we do something tricky and load our data here as if it were a library file -->
   <script>
        var timeline_data = {  // save as a global variable
            'dateTimeFormat': 'iso8601',
            'events' : <%= @timeline.to_json %>
        }
        var tl;
        function onLoad() {
            var tl_el = document.getElementById("tl");
            var eventSource1 = new Timeline.DefaultEventSource();
            
            var detailed_theme = Timeline.ClassicTheme.create();
            detailed_theme.autoWidth = true; // Set the Timeline's "width" automatically.
                                     // Set autoWidth on the Timeline's first band's theme,
                                     // will affect all bands.
            detailed_theme.timeline_start = Timeline.DateTime.parseGregorianDateTime("<%= @source.earliest_event.start.to_s %>");
            detailed_theme.timeline_stop  = Timeline.DateTime.parseGregorianDateTime("<%= (@source.latest_event.start + 1.week).to_s %>");
            
            var overview_theme = Timeline.ClassicTheme.create();
            overview_theme.showEventText = false;
            overview_theme.trackHeight = 0.5;
            overview_theme.trackGap = 0.2;
            
            
            var d = Timeline.DateTime.parseGregorianDateTime("<%= Time.now.to_s %>");
            var bandInfos = [
              Timeline.createBandInfo({
                eventSource:    eventSource1,
                width:          "20%", 
                theme:          detailed_theme,
                layout:         'overview',  // original, overview, detailed
                intervalUnit:   Timeline.DateTime.WEEK, 
                intervalPixels: 400
              }),
              Timeline.createBandInfo({
                eventSource:    eventSource1,
                width:          "20%", 
                theme:          detailed_theme,
                layout:         'overview',  // original, overview, detailed
                intervalUnit:   Timeline.DateTime.DAY, 
                intervalPixels: 200
              }),
              Timeline.createBandInfo({
                eventSource:    eventSource1,
                date:           d,
                width:          "70%", 
                theme:          detailed_theme,
                layout:         'original',  // original, overview, detailed
                intervalUnit:   Timeline.DateTime.HOUR, 
                intervalPixels: 100
              })
            ];
            bandInfos[0].syncWith = 2;
            bandInfos[0].highlight = true;
            // bandInfos[0].eventPainter.setLayout(bandInfos[2].eventPainter.getLayout());
            bandInfos[1].syncWith = 2;
            bandInfos[1].highlight = true;
            // bandInfos[1].eventPainter.setLayout(bandInfos[2].eventPainter.getLayout());
                                                            
            // create the Timeline
            tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);
            
            var url = '.'; // The base url for image, icon and background image
                           // references in the data
            eventSource1.loadJSON(timeline_data, url); // The data was stored into the 
                                                       // timeline_data variable.
            tl.layout(); // display the Timeline
        }
        
        var resizeTimerID = null;
        function onResize() {
            if (resizeTimerID == null) {
                resizeTimerID = window.setTimeout(function() {
                    resizeTimerID = null;
                    tl.layout();
                }, 500);
            }
        }
   </script>
   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-16980180-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</head>
<body onload="onLoad();" onresize="onResize();">
<div id="doc3" class="yui-t7">
   <div id="hd" role="banner">
     <h1>Gulf of Mexico Oil Spill Response Stats</h1>
     <p>It's been <strong><%= (Date.today - Date.parse("2010-04-20T22:00:00-0500")).to_i %> days</strong> since the <a href="http://en.wikipedia.org/wiki/Deepwater_Horizon_drilling_rig_explosion">explosion and fire on the MODU Deepwater Horizon</a> which occurred late on Tuesday, April 20, 2010, in the Gulf of Mexico.
   </div>
   <div id="bd" role="main">
	   <div class="yui-g">
	     <div id='tl'></div>
	     <p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>
	   </div>
	 </div>
   <div id="ft" role="contentinfo">
     <p>The statistics here are gathered from the <a href="http://www.deepwaterhorizonresponse.com/">official Deepwater Horizon Unified Command website</a>.</p>
     <p>Thanks to the <a href='http://www.simile-widgets.org/'>Simile Timeline project</a> Timeline version <span id='tl_ver'></span></p>
     <script>Timeline.writeVersion('tl_ver')</script> 
   </div>
</div>

</body>
